/* style rules for fieldsets  */
fieldset {
    padding: 1.5rem;
    margin: 1rem;
    width: 400px;
    background-color: rgb(148, 151, 155) ;
  }
  
  /* style rules for legend texts  */
  legend {
    background-color:slategray;
    color: white;
    font-weight: 400;
    padding: 2px 8px;
  }
  
  /* style rules for Operand input fields  */
  #firstOperand, #secondOperand {
    width: 110px;
  }
  
  /* style rules for operator buttons  */
  button:first-of-type {
    margin-left: 5px;
    cursor: pointer;
  }
  
  button:not(first-of-type), #clr {
    margin-left: 6px;
    cursor: pointer;
  }